@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}

body, .logoBox, .contentBox, .headerBox, .mainBodyBox, .formBox, .footerBox
{
    flex-direction: column;
    display: flex;
   
}
.headerBox, .mainBodyBox, .footerBox
{
    padding-left: 50px;
}
body 
{
    padding: 0px;
    margin: 0px;
     min-height: 100vh; 
     max-height: 100vh;
     flex-direction: row;
     justify-content: flex-start;
     
}




.logoBox
{
    min-width: 40vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url(./images/fern.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.logo
{
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 100px;
    font-family: 'norse';
    color: aliceblue;
}

a
{
    font-weight: bold;
    color: #596D48;
}
.loginMessage
{
    font-weight: bold;
}

.footerBox
{
    box-sizing: border-box;
    min-height: 35%;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;
    background-color: rgb(247, 247, 247);
    
}
.mainBodyBox
{
    min-height: 30%;
    padding-bottom: 20px;
}
.headerBox
{
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    min-height: 35%;
    background-color: rgb(247, 247, 247);
}
button
{
    background-color: #596D48;
    border-color: #596D48;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.81);
    color: aliceblue;
    font-size: 1em;
    font-weight: bold;
    
    width: 200px;
    height: 45px;
}
.logoImg
{
    max-height: 90%;
}
.formBox
{
    
    gap: 20px;
    max-width: 60%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
p
{
    margin-top: 0px;
    max-width: 640px;
    font-weight: normal;
    font-weight: bold;
    font-size: 23px;
}
label
{
    font-size: 10px;
}
input
{
    border-radius: 5px;
    border-style: solid;
    width: 200px;
    height: 20px;
}